---
layout: layout
---
<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <h3><a href="{{ site.url}}/articles/">Articles</a></h3>
  {% for post in site.posts limit:5 %}
  <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    <h2 itemprop="headline"><a href="{{ post.url | relative_url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
    <p itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
  </article>
  {% endfor %}
</div>
