<!DOCTYPE html>
{% include _helper/page-class.html %}
<html class="no-js" lang="{{site.language}}">
<head>
{% include _head.html %}
</head>

<body class="{{ page_class }}" itemscope itemtype="http://schema.org/WebPage">
  {% include _navigation.html %}
  {% include _image-feature.html %}

  <!-- @TODO: transformar en aside -->
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>

  {{ content }}

  <!-- @TODO: optimizar esto -->
  <div class="footer-wrap">
    {% if page_class == "article" %}
    {% if site.related_posts.size > 0 %}
      <div class="related-articles">
        <h4>También te puede interesar <small class="pull-right">(<a href="{{ site.url }}/articles">Ver todos los artículos</a>)</small></h4>
        <ul>
          {% for post in site.related_posts limit:3 %}
            {% assign match = false %}
            {% for category in post.categories %}
              {% if page.categories contains category %}
                {% assign match = true %}
              {% endif %}
            {% endfor %}
            {% if match %}
              <li><a href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <hr />
      </div><!-- /.related-articles -->
    {% endif %}
    {% endif %}
    <footer>
      {% include _footer.html %}
    </footer>
  </div>

  {% include _scripts.html %}
</body>
</html>
