---
layout: layout
---

<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <h1 itemprop="name">{{ page.title }}</h1>
  {% if page.description %}
    <p>{{ page.description }}</p>
  {% endif %}
  {% if page.category-index %}
    {% assign nyear = "9999" %}
    {% for post in site.categories[page.category-index] %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% if nyear != year %}
        <h3>{{ post.date | date: '%Y' }}</h3>
        {% assign nyear = year %}
      {% endif %}
      <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <h2 itemprop="headline"><a href="{{ post.url | relative_url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
      </article>
    {% endfor %}
  {% else %}
    {% for post in site.posts %}
      {% unless post.next %}
      <h3>{{ post.date | date: '%Y' }}</h3>
      {% else %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if year != nyear %}
          <h3>{{ post.date | date: '%Y' }}</h3>
        {% endif %}
      {% endunless %}
      <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <h2 itemprop="headline"><a href="{{ post.url | relative_url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p itemprop="text">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
      </article>
    {% endfor %}
  {% endif %}
</div>
