<!doctype html>
<html class="no-js" lang="es">
<head>
{% include _head.html %}
</head>

<body class="articles" itemscope itemtype="http://schema.org/WebPage">

{% include _navigation.html %}

{% if page.image.feature %}<div class="image-wrap">
  {% assign page_image = "/images/" | append: page.image.feature | relative_url %}
  <img src="{{ page_image }}" alt="{{ page.title }} feature image" itemprop="primaryImageOfPage">
  {% if page.image.credit %}<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>{% endif %}
</div><!-- /.image-wrap -->{% endif %}

<div class="article-author-side">
  {% include _author-bio.html %}
</div>

<div id="index" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  <h1 itemprop="name">{{ page.title }}</h1>
  <p>Miradas desde la praxis sobre la actualidad y el devenir de la performance.</p>
  {% for post in site.posts %}
    {% if post.category == "visiones" %}
      <article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <h2 itemprop="headline"><a href="{{ post.url | relative_url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
      </article>
    {% endif %}
  {% endfor %}
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
